/* #4FB0C6 */
/* #4F86C6 */
/* #379392 */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4FB0C6;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
header{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img{
    border-radius: 10%;
    height: 30rem;
    width: 20rem;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
img:hover{
    border-radius: 10%;
    height: 35rem;
    width: 25rem;
    box-shadow: 0 0 20px 10px rgb(0,0,0,0.2);
}
nav{
    background-color: #4F86C6;
    height: 2.5rem;
}
.image-container{
    text-align: center;
    margin: 2rem 0rem 0rem 2rem;
}
#logo{
    color: white;
    padding: 0.5rem 1.5rem 0rem 1.5rem;
}